@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

.App {
  text-align: center;
}

.App-main {
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 2%;
  height:92vh;
  width:94vw;
  justify-items:center;
  padding:2vh 2vw;
  font-family: "Poiret One";
}

h1 {
  font-size: 7vw;
  font-weight:bold;
  margin: 0;
}

h2 {
  font-size: 2vw;
  margin: 2vh 0;
}

p {
  font-weight:bold;
}

#clockContainer {
  display:grid;
  grid-template-columns: repeat(19, 5.25%);
  grid-template-rows: repeat(11, 9.3%);
  justify-items: center;
  margin: auto 0;
  align-self:center;
  height:88%;
  padding:0;
}

.cardPile {
  position:absolute;
  height: 10vh;
  width:3.5vw;
}

#arrow {
  z-index: -1;
  height: 3vh;
  width:auto;
  transform: rotate(90deg);
}

#emoji {
  margin: auto 0;
  height: 10vh;
  width:auto;
  transform: rotate(90deg);
}

.clockDiv {
  display: inline-flex;
  flex-flow: column;
  justify-items: center;
  align-items: center;
  width:70%;
  height:90%;
  padding-top:7%;
}

.stackedCard {
  margin-top: -13.5vh;
  width:100%;
  height: auto;
}

.bottomCard {
  width:100%;
  height: auto;
}

#clock1 {
  grid-column: 12 / span 3;
  grid-row: 2 / span 3;
  transform: rotate(30deg);
  margin-top:-25%;
  margin-left: 15%;
}

#clock2 {
  grid-column: 15 / span 3;
  grid-row: 3 / span 3;
  transform: rotate(60deg);
}

#clock3 {
  grid-column: 16 / span 3;
  grid-row: 5 / span 3;
  transform: rotate(90deg);
}

#clock4 {
  grid-column: 15 / span 3;
  grid-row: 7 / span 3;
  transform: rotate(120deg);
}

#clock5 {
  grid-column: 12 / span 3;
  grid-row: 8 / span 3;
  transform: rotate(150deg);
  margin-top: 25%;
  margin-left: 15%;
}

#clock6 {
  grid-column: 9 / span 3;
  grid-row: 9 / span 3;
  transform: rotate(180deg);
}

#clock7 {
  grid-column: 6 / span 3;
  grid-row: 8 / span 3;
  transform: rotate(210deg);
  margin-top: 25%;
  margin-left: -15%;
}

#clock8 {
  grid-column: 3 / span 3;
  grid-row: 7 / span 3;
  transform: rotate(240deg);
}

#clock9 {
  grid-column: 2 / span 3;
  grid-row: 5 / span 3;
  transform: rotate(270deg);
}

#clock10 {
  grid-column: 3 / span 3;
  grid-row: 3 / span 3;
  transform: rotate(300deg);
}

#clock11 {
  grid-column: 6 / span 3;
  grid-row: 2 / span 3;
  transform: rotate(330deg);
  margin-top: -25%;
  margin-left: -15%;
}

#clock12 {
  grid-column: 9 / span 3;
  grid-row: 1 / span 3;
}

#clock13 {
  grid-column: 8 / span 3;
  grid-row: 5 / span 3;
  margin-right:10%;
}

#clock14 {
  grid-column: 10 / span 3;
  grid-row: 5 / span 3;
  margin-left:10%;
}

#btnNewGame {
  grid-column: 9 / span 3;
  grid-row: 4 / span 1;
  align-self:center;
}

ul {
  text-align: justify;
  padding-left:5%;
  padding-right:5%;
  font-weight: bold;
}

li {
  padding: 1%;
}

button {
  background-color: white;
  width: 8vw;
  height: 4vh;
  font-family: "Poiret One";
  font-weight: bold;
  font-size: 2.5vh;
}

button:hover {
  background-color: mintcream; 
  font-weight: bolder;
}

#statsContainer {
  display:inline-flex;
  margin: 0.5% auto;
  width:100%;
  gap: 3%;
  justify-content: center;
  padding-top:2.5%;
}

.stats {
  margin: 0;
}

#odds {
  font-weight:bold;
}

@media screen and (orientation:landscape) and (max-width: 992px) {
  body {
    overflow-y: auto;
    overflow-x:auto;
  }
  .App-main {
    width:98%;
    padding:1vh 1vw;
  }
  h1 {
    font-size: 4vw;
  }
  h2 {
    font-size: 1.75vw;
  }
  p {
    font-size: 1.5vw;
  }
  ul {
    font-size: 1.5vw;
  }
  #emoji {
    width: 5vw;
    height:auto;
  }
  #clockContainer {
    display:grid;
    grid-template-columns: repeat(19, 5.2%);
    grid-template-rows: repeat(11, 8.8%), 3%;
    height:90vh;
    justify-items: center;
    margin: auto 0;
    align-self:center;
    padding:0px;
    align-self:center;
  }
  .stackedCard {
    margin-top: -145%;
    width:100%;
    height: auto;
  }
  .bottomCard {
    width:100%;
    height: auto;
  }
  #arrow {
    height: 4.2vh;
  }
  #statsContainer {
    padding-top:0;
  }
  #btnNewGame {
    grid-column: 8 / span 5;
    grid-row: 4 / span 1;
    height: 5vh;
    width: 10.5vw;
    align-self: flex-end;
    font-size: 1.5vw;
    padding-top:0;
  }
}

/* MEDIA QUERY FOR PORTRAIT MOBILE */
@media screen and (max-width: 500px) {
  body {
    overflow-y: auto;
    overflow-x:auto;
  }
  .App-main {
    grid-template-columns: 1fr;
    grid-template-areas: "clock" "info";
    width:98%;
    padding:1vh 1vw;
  }
  #gamePlayArea {
    grid-area: clock;
  }
  #info {
    grid-area: info;
    width:100%;
    height:88%;
  }
  #emoji {
    width: 11vw;
    height:auto;
  }
  h1 {
    font-size: 10vw;
  }
  h2 {
    font-size: 5vw;
  }
  p {
    font-size: 3.5vw;
  }
  ul {
    font-size: 3.5vw;
  }
  #clockContainer {
    padding-bottom: 10%;
    grid-template-columns: repeat(19, 5.2%);
    grid-template-rows: repeat(11, 8.8%), 3%;
    height:100vw;
  }
  .stackedCard {
    margin-top: -130%;
    width:100%;
    height: auto;
  }
  #arrow {
    height: 3vh;
    width:auto;
  }
  #btnNewGame {
    height: 3vh;
    width: 25vw;
    font-size:3vw;
    grid-row: 12 / span 1;
  }
  .cardPile {
    height: 5vh;
    width:7vw;
  }
}